.branch-title {
  color: #fff;
  line-height: 2em;
  padding: 10px 0 10px 10px;
  margin: 0;
}

.rui-player-left-sider {
  height: 100vh;
  overflow: auto;
  background-color: #1A5699;
}

.rui-player-left-sider .ant-menu.ant-menu-dark,
.rui-player-left-sider .ant-menu-dark .ant-menu-inline.ant-menu-sub {
  background-color: transparent;
}

.rui-left-nav-menu .ant-menu-submenu-title .anticon {
  font-size: 18px;
}

.rui-player-main-content {
  height: 100vh;
  overflow: auto;
}

.rui-player-main-content .ant-page-header {
  position: sticky;
  width: 100%;
  top: 0;
  z-index: 10;
  background-color: #fff;
  box-shadow: #ccc 0 0 8px;
}

.rui-player-main-content .ant-page-header-heading-extra {
  display: flex;
}

.rui-current-user-indicator {
  cursor: pointer;
  border-radius: 4px;
}

.rui-play-main-container-body {
  padding: 16px;
}

.rui-player-main-container {
  background-color: #fff;
  min-height: 100%;
  padding: 20px;
}

.rui-player-main-container h3 {
  padding: 10px 0;
  font-weight: bold;
}

.rui-page-section {
  background: #fff;
  border-radius: 8px;
  padding: 16px;
}

.rui-page-section+.rui-page-section {
  margin-top: 16px;
}

.rui-toolbar {
  display: flex;
  padding-bottom: 12px;
}

.rui-toolbar .ant-btn+.ant-btn {
  margin-left: 6px;
}

.rui-toolbar-items {
  flex: 1;
}

.rui-toolbar-extras {

}

.rui-toolbar .ant-form-item {
  margin-bottom: 0;
}

.rui-table-action-link+.rui-table-action-link {
  margin-left: 6px;
}